
build/lib.linux-x86_64-3.6/strit.cpython-36m-x86_64-linux-gnu.so
build/temp.linux-x86_64-3.6/module.o
build/temp.linux-x86_64-3.6/tandem.o
strit.cpython-36m-x86_64-linux-gnu.so
build/temp.linux-x86_64-3.6/src/module.o
build/temp.linux-x86_64-3.6/src/tandem.o
chr1.fa.gz
build/temp.linux-x86_64-3.6/src/strit.o
build/lib.linux-x86_64-3.8/stripy.cpython-38-x86_64-linux-gnu.so
build/temp.linux-x86_64-3.8/src/ssr.o
build/temp.linux-x86_64-3.8/src/stripy.o
build/temp.linux-x86_64-3.8/src/vntr.o
stripy.cpython-38-x86_64-linux-gnu.so
tests/data/chr1.fa.gz.fxi
build/lib.linux-x86_64-3.6/stripy.cpython-36m-x86_64-linux-gnu.so
build/temp.linux-x86_64-3.6/src/ssr.o
build/temp.linux-x86_64-3.6/src/stripy.o
build/temp.linux-x86_64-3.6/src/tre.o
build/temp.linux-x86_64-3.6/src/vntr.o
stripy.cpython-36m-x86_64-linux-gnu.so
build/temp.linux-x86_64-3.8/src/tre.o
build/temp.linux-x86_64-3.8/src/itr.o
build/temp.linux-x86_64-3.8/src/etr.o
itrs.txt
tests/data/GCF_000001405.38_GRCh38.p12_genomic.fna.gz
build/lib.linux-x86_64-3.8/stria.cpython-38-x86_64-linux-gnu.so
build/temp.linux-x86_64-3.8/src/stria.o
stria.cpython-38-x86_64-linux-gnu.so
output.txt
build/lib.win-amd64-3.8/stria.cp38-win_amd64.pyd
build/temp.win-amd64-3.8/Release/src/etr.obj
build/temp.win-amd64-3.8/Release/src/itr.obj
build/temp.win-amd64-3.8/Release/src/ssr.obj
build/temp.win-amd64-3.8/Release/src/stria.cp38-win_amd64.exp
build/temp.win-amd64-3.8/Release/src/stria.cp38-win_amd64.lib
build/temp.win-amd64-3.8/Release/src/stria.obj
build/temp.win-amd64-3.8/Release/src/vntr.obj
chr20.fa
chr20.fa.fxi
hg19.fa
stria.cp38-win_amd64.pyd
Homo_sapiens.GRCh38.dna.toplevel.fa.gz.fxi
Homo_sapiens.GRCh38.dna.toplevel.fa.gz
stria.cpython-310-x86_64-linux-gnu.so
